---
const { platform, username } = Astro.props;
---
<a class="tw-bg-purple-700 tw-p-2 tw-rounded-md hover:tw-shadow-lg hover:tw-shadow-purple-400"
  href={`https://www.${platform}.com/${username}`}>{platform}
</a>
